@import "normalize"
@import "semanticgrid"

// Defaults which you can freely override
column-width = 220
gutter-width = 20
columns = 4

total-width 100%

body
  column 4

.nav-primary
  row 4
  & > *
    column 1,4

#content
  column 4

.footer
  column 4

*
  border 1px black solid
