#timeline-embed .cite
  font-style italic

#timeline-embed footer
  border-top 1px #AFAFAF solid 
  padding-bottom 0.2em

#timeline-embed .leaflet-map .text-media
  border 0

#timeline-embed .leaflet-map iframe
  border 0
  height 98%
