#timeline-embed .cite
  font-style italic

#timeline-embed .content
  padding-top 1em

#timeline-embed footer
  border-top 1px #AFAFAF solid 
  padding-bottom 0.2em

#timeline-embed .slider-item
  overflow-y hidden !important
