#timeline-embed .cite
  font-style italic

#timeline-embed footer
  border-top 1px #AFAFAF solid 
  padding-bottom 0.2em

#timeline-embed 
  .leaflet-map 
    .media 
      .text-media
        padding-right 0
      .media-wrapper
      .media-container
        display block
      .container
        display block
        height 350px
      iframe
        border 0
        height 98%
