@keyframes rotateIn
  0%
    transform-origin center center
    transform rotate(-360deg)
  50%
    transform-origin center center
    transform rotate(0deg)
  100%
    transform-origin center center
    transform rotate(-360deg)

@keyframes bounceIn
  0%
    opacity 0
    transform scale(.3)
  50%
    opacity 1
    transform scale(.95)
  70%
    transform scale(.85)
  100%
    transform scale(1)
