gray = #757575
orange = #D15600
green = #73880A
blue = #3F4C6B
red = #D01F3C

background-color = #e5e9ea
header-color = #657089

header
header a
  color header-color
  h2
  h2 a
    color lighten(header-color, 30)
  
