.project 
  .flexslider
    width 100%
    max-width 640px
    margin auto
    border none
    & .slides
      margin-before 0
      margin-after 0
      padding-start 0

if response
  @media palm-media
    .project>h1:first-of-type
        margin-top 50px
    
