nav-fontsize := 1.7em

@css {
  @font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: local('Permanent Marker'), local('PermanentMarker'), url(/fonts/PermanentMarker.woff) format('woff');
  }
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(/fonts/Ubuntu.woff) format('woff');
  }
}


body 
  font-family 'Ubuntu', sans-serif

header
  font-family 'Permanent Marker', cursive
