gray := #757575

.blog
.projects
  list-style-type none
  padding-start 0
  > *
    line-height 3em
    border-bottom 1px lighten(gray,40) solid
    overflow hidden
  & time
    color gray
    text-transform uppercase
  & a
    text-decoration none
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    word-wrap normal
  > .grid
    padding-left 0.5em

//////////////////////////////////////////////////////////
// States                                               //
//////////////////////////////////////////////////////////
.blog > *
.projects > *
  &:hover
    background-color lighten(gray,45)
