header.header-primary
.footer-wrapper
.content-wrapper
  overflow hidden

.center
  margin-left auto
  margin-right auto

header.header-primary
  margin-bottom 1em
  > *
    margin-before 0
    margin-top 0
    margin-after 0
    margin-bottom 0

if responsive
	@media portable-media
    header.header-primary
      margin-bottom 0.1em
      h1
        font-size 5.5vw
      h2
        font-size 3.4vw

.content
  background-color white
  padding-left 1em
  padding-right 1em

footer
  padding-bottom 5em
  border-top 1px black solid

//////////////////////////////////////////////////////////
// States                                               //
//////////////////////////////////////////////////////////
.content
  opacity 0
  max-height 0px
  &.active
    opacity 1
    max-height 2500px
  

//////////////////////////////////////////////////////////
// Animations                                           //
//////////////////////////////////////////////////////////
.content
  transition-property opacity,max-height
