a.linkWithSymbol
  display inline-block
  padding-left 2.5em
  line-height 2em
  background transparent center left no-repeat

a.externalLink
  @extend a.linkWithSymbol
  background-image url(/images/iconic/svg/link.svg)

a[href$='.pdf'].download
  @extend a.linkWithSymbol
  background-image url(/images/iconic/svg/document_stroke.svg)

  
