.taglist
  float right
  margin-top 0.5em
  margin-bottom 0.5em
  line-height 1.5em
  > .tag
    float left
    text-transform lowercase
    background-color lightblue
    border-radius 10px
    margin-left 0.5em
    margin-right 0.5em
    margin-bottom 1em
    padding 0.3em 0.5em
    color blue
  > .tag:first-child
    margin-left 0
