.taglist
  font-size 80%
  float left
  margin-top 0.5em
  margin-bottom 0.5em
  line-height 1.5em
  > .tag
    float left
    text-transform lowercase
    background-color lightblue
    margin-bottom 0.5em
    margin-right 0.5em
    padding 0.3em 0.5em
    color blue

.tagcloud
  @extends .taglist
  padding-left 1em
  & .tagcloud_item
    @extends .taglist > .tag
    text-decoration none
    &.active
      background-color darken(lightblue, 30)

if responsive
	@media lap-media
    .tagcloud .tagcloud_item.active
      line-height 2
      font-size 2em
      margin-bottom 0.25em
      margin-right 0.25em
      padding 0.15em 0.25em
	@media desk-media
    .tagcloud .tagcloud_item.active
      line-height 2
      font-size 2em
      margin-bottom 0.25em
      margin-right 0.25em
      padding 0.15em 0.25em
  
