.taglist
  font-size 80%
  float left
  margin-top 0.5em
  margin-bottom 0.5em
  line-height 1.5em
  > .tag
    float left
    text-transform lowercase
    background-color lightblue
    margin-bottom 0.5em
    margin-right 0.5em
    padding 0.3em 0.5em
    color blue

h3.taglist
  width 100%

h3.taglist .tag
  float none
  font-weight normal
  text-decoration none
  &.active
    background-color darken(lightblue, 30)

.tagcloud
  @extends .taglist
  font-size 80%
  padding-left 1em
  //background-color lighten(gray,50)
  & .tagcloud_item
    @extends .taglist > .tag
    text-decoration none
    &.active
      background-color darken(lightblue, 30)
  & > h3
    margin-bottom 0.1em

if responsive
	@media lap-media
    .tagcloud
      padding-left 2em
    .tagcloud .tagcloud_item.active
      line-height 2
      font-size 2em
      margin-bottom 0.25em
      margin-right 0.25em
      padding 0.15em 0.25em
	@media desk-media
    .tagcloud
      padding-left 2em
    .tagcloud .tagcloud_item.active
      line-height 2
      font-size 2em
      margin-bottom 0.25em
      margin-right 0.25em
      padding 0.15em 0.25em
  
