.timeline-embed
  padding 0
  &.active
    padding 0

#timeline-embed 
  // Citations
  .cite
    font-style italic
  footer
    border-top 1px lighten(gray,30) solid 
    padding-bottom 0.2em
  .content
    padding-left 0
    padding-right 0
  .slider-item-container
    & > .slider-item:first-child .media-shadow
    & > .slider-item:first-child .media-shadow img
      box-shadow none
      border none
    & > .slider-item:first-child .media-shadow:after
    & > .slider-item:first-child .media-shadow:before
      content normal
      
  // Show iFrame at max size
  .iframe 
    .content
      padding-left 0
      padding-right 0
      display inline-table
      width 100%
    .content-container
      width 100%
    & *
      height 100%
    .media 
      .text-media
        padding-right 0
      .plain-text
        display table
        width 100%
      .media-container
        max-width none !important
      .media-wrapper
      .media-container
        display block
      .container
        displayflex
        width 100%
      iframe
        border 0
        width 100%
        height 98%
        padding-top 1%
    .pad-top
      display table
      .text
        & *
          height auto
      .text
      .media
        display table-row
        iframe
          padding-top 0
  // Small Info class
  .small-info
    font-size smaller
    padding-top 3em
  .pad-top .small-info
    padding-top 0
  .content
    opacity 1
    max-height none


if responsive
	@media portable-media
    #timeline-embed
      .vco-slider .slider-item
        margin-left 0px
      .slider-item-container
        & > .slider-item:first-child
          margin-left 8px
