!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width,initial-scale=0.6")
    != SocketStream
    script(type="text/javascript",src="/timeline/js/storyjs-embed.js")
    title Christian Sterzl vCard
  body.container_12
    header.grid_12.clearfix
      hgroup
        h1 Christian Sterzl
        h2 
          | Enterprise Architect 
          nobr and Software Developer
    nav.grid_12.clearfix.animated
      a.overlap.grid_3.alpha.animated(href='#about') About
      a.overlap.grid_3.animated(href='#resume') Resume
      a.overlap.grid_3.animated(href='#projects') Projects
      a.overlap.grid_3.omega.animated(href='#blog', data-op='list') Blog
    article#content.grid_12.clearfix.animated
    footer.grid_12.clearfix 
    div.topbar
      a(href="#contact") Contact
      a(href="#circlescms").omega Circlescms
    link(href='http://fonts.googleapis.com/css?family=Permanent+Marker|Ubuntu',rel='stylesheet',type='text/css')
