!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    != SocketStream
    title Christian Sterzl vCard
  body.container_12
    header.grid_12.clearfix
      hgroup
        h1 Christian Sterzl
        h2 Enterprise Architect and Software Developer
    nav.overlap.grid_12.clearfix
      a.overlap.grid_3.alpha.animated(href='#about') About
      a.overlap.grid_3.animated(href='#resume') Resume
      a.overlap.grid_3.animated(href='#projects') Projects
      a.overlap.grid_3.omega.animated(href='#contact') Contact
    article#about.overlap.grid_12.clearfix.animated About
    article#resume.overlap.grid_12.clearfix.animated Resume
    article#projects.overlap.grid_12.clearfix.animated Projects
    article#contact.overlap.grid_12.clearfix.animated Contact
    footer.overlap.grid_12.clearfix Some footer
