!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width,initial-scale=0.6")
    link(href='http://fonts.googleapis.com/css?family=Permanent+Marker|Ubuntu',rel='stylesheet',type='text/css')
    != SocketStream
    title Christian Sterzl vCard
  body.container_12
    header.grid_12.clearfix
      hgroup
        h1 Christian Sterzl
        h2 
          | Enterprise Architect 
          nobr and Software Developer
    nav.grid_12.clearfix.animated
      a.overlap.grid_3.alpha.animated(href='#about') About
      a.overlap.grid_3.animated(href='#resume') Resume
      a.overlap.grid_3.animated(href='#projects') Projects
      a.overlap.grid_3.omega.animated(href='#blog', data-op='list') Blog
    article#content.grid_12.clearfix.animated
      h1 About
      | TODO:
      ul
        li 
          del Viewport for mobile devices
        li 
          del set height for articles
        li Bring out a good enough solution based on node.js and github
        li Keysequence ESC for closing article
        li Closing button for articles
        li 
          del Startanimation on load (rotating circles)
        li Polaroid pics
        li Degrading browsers and modernizr
        li 
          del CSS Refactoring (less nesting, more class names)
        li SEO optimisation (#!)
        li Better comments in CSS
        li list blog articles
        li popups on top toolbar
        li load content on load of page according to hashtag
        li use require
      ul
        li Node.js (AppFog / better Openshift)
        li Github repo to store and version static files, templates and content (use Bitbucket wiki)
        li 
          del git-fs
        li git-upstream-watch?
        li 
          del stylus
        li cache: https://github.com/ptarjan/node-cache or redis
        li 
          del jade as template language
        li 
          del socketstream and express
        li 
          del one branch for code, another for content
    // article#resume.grid_12.clearfix.animated Resume
    // article#projects.grid_12.clearfix.animated Projects
    // article#contact.grid_12.clearfix.animated Contact
    footer.grid_12.clearfix 
    div.topbar
      a(href="#contact") Contact
      a(href="#circlescms").omega Circlescms

