!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    link(href='http://fonts.googleapis.com/css?family=Permanent+Marker|Ubuntu',rel='stylesheet',type='text/css')
    != SocketStream
    title Christian Sterzl vCard
  body.container_12
    header.grid_12.clearfix
      hgroup
        h1 Christian Sterzl
        h2 Enterprise Architect and Software Developer
    nav.overlap.grid_12.clearfix
      a.overlap.grid_3.alpha.animated(href='#about') About
      a.overlap.grid_3.animated(href='#resume') Resume
      a.overlap.grid_3.animated(href='#projects') Projects
      a.overlap.grid_3.omega.animated(href='#contact') Contact
    article#about.overlap.grid_12.clearfix.animated
      | About
      | TODO:
      ul
        li Viewport for mobile devices
        li set height for articles
        li Bring out a good enough solution based on node.js and github
        li Keysequence ESC for closing article
        li Closing button for articles
        li Startanimation on load (rotating circles)
        li Polaroid pics
        li Degrading browsers and modernizr
        li CSS Refactoring (less nesting, more class names)
        li SEO optimisation
        li Better comments in CSS
      ul
        li Node.js (AppFog / better Openshift)
        li Github repo to store and version static files, templates and content
        li git-fs?
        li git-upstream-watch?
        li stylus
        li cache: https://github.com/ptarjan/node-cache or redis
        li 
          del dustjs or 
          | jade as template language
        li socketstream and express
        li one branch for code, another for content
    article#resume.overlap.grid_12.clearfix.animated Resume
    article#projects.overlap.grid_12.clearfix.animated Projects
    article#contact.overlap.grid_12.clearfix.animated Contact
    footer.overlap.grid_12.clearfix 
