!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
    != SocketStream
    title New Semantic Grid
  body
    header
      h1 A new Grid
    nav.nav-primary.grid.circles.circles-overlap
      a.grid__item.palm-one-half.one-quarter(href='#about') About
      a.grid__item.palm-one-half.one-quarter(href='#resume') Resume
      a.grid__item.palm-one-half.one-quarter(href='#projects') Projects
      a.grid__item.palm-one-half.one-quarter(href='#blog', data-op='list') Blog
    div.content-wrapper.grid
      article#content.content.grid__item.one-whole Some Content
    div.content-wrapper.grid
      footer.content.grid__item.one-whole A footer
