@import "helper/normalize"
@import "helper/mixin"
@import "helper/animations"

body
  min-width 100%
  min-height 97%

gutter = 0
desk-start = 720px
@import "csswizardry-grids"

@import "themes/colors-flat"

nav-fontsize = 1.7em
@import "themes/font-flat"
@import "themes/animation-flat"
@import "themes/base-flat"

@import "modules/content"

circles-overlap = 4%
circles-fontsize = nav-fontsize
@import "modules/circles"

@import "modules/blog"
@import "modules/legend"
@import "modules/timeline"
@import "modules/tag"
//@import "helper/debug"
